{
  "env": {
    "browser": true,
    "amd": true,
    "es6": true,
    "node": true
  },
  "plugins": [],
  "extends": [
    "eslint:recommended",
    "plugin:prettier/recommended",
    "prettier"
  ],
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "singleQuote": true,
        "trailingComma": "es5",
        "semi": true
      }
    ]
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2018
  }
}